h1 {
    text-align: center;
    color: white;
    font-family: cursive;
}
#forecast {
    margin-top: 100px;
    width:625px;
    height: 35px;
    text-align: center;
    overflow-y: hidden;
    border: 5px solid #EEE;
    border-radius: 25px;
    background-color: white;
}

li {
    list-style: none;
    color:firebrick;
}


body {
    background-color: firebrick;
}



div {
    color:floralwhite;
}
